body{
    background-color: azure;
    color: rgb(10, 10, 10);
    margin: 0rem;
}

  main {
    position: relative;
    left: 0;
    display: flex;
  }

  .bg {
    height: 50000vh;
    /* width: 3000vw; */
  }

  .scroll-image{
    position: fixed;
    z-index: 0;
    display: flex;
    flex: 1;
    width: 100vw;
    overflow-x: scroll;
  }

  .fixed-image{
    z-index: 100;
    position: fixed;
    margin: 0px;
    padding: 0px;
  }

  .fixed-image img{
    height: 1080px;
    object-fit: cover; 
    width: 100vw;
  }

  .layer{
    position: fixed;
    z-index: 10;
    display: flex;
    flex: 1;
    width: 100vw;
    overflow-x: scroll;
  }
  